.field {
    margin: $spacing 0;
    display: flex;
    flex-direction: column;
    gap: $spacing*0.5;

    @media screen and (orientation: landscape) {
        gap: $spacing;
        flex-direction: row;
    }

    label {
        flex: 1;
        line-height: 1.1;
        display: block;
    }

    input,
    select,
    textarea {
        max-width: 45em;
        display: block;
        padding: $spacing*0.25;
        flex: none;
        @media screen and (orientation: landscape) {
            width: 45%;
        }
    }
}

input,
textarea {
    border: solid 2px $brand-green;
}
