@font-face {
    font-family: 'Rockford Sans';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url('../fonts/RockfordSansLight.woff2') format('woff2'),
        url('../fonts/RockfordSansLight.woff') format('woff');
}

@font-face {
    font-family: 'Rockford Sans';
    font-style: normal;
    font-display: block;
    font-weight: 700;
    src: url('../fonts/RockfordSansExtrabold.woff2') format('woff2'),
        url('../fonts/RockfordSansExtrabold.woff') format('woff');
}
