<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <div class="footer__logo">
          {% icon "logo", 220, 246 %}
        </div>
        <div class="footer__about">
          <p>We are East Marsh United, a community group from the East Marsh of Grimsby, dedicated to transforming where we live for the better.</p>
          <p>East Marsh United Ltd is a registered company in England and Wales, <a target="_blank" href="https://find-and-update.company-information.service.gov.uk/company/11034048">company number 11034048</a></p>
          {# <a class="button button--inverted" href="#">Donate</a> #}
        </div>
        <div class="footer__links">
          <a href="/news/">News</a>
          <a href="/about/">About</a>
          <a href="mailto:{{ contact.email }}">Email us</a>
          <a href="{{ contact.facebook }}" target="_blank">Facebook</a>
          <a href="{{ contact.twitter }}" target="_blank">Twitter</a>
          <a href="{{ contact.instagram }}" target="_blank">Instagram</a>

        </div>
        <!--<div class="footer__logos">
          <a href="https://locality.org.uk/" target="_blank">
            {% icon "locality-logo", 160, 108 %}
          </a>
          <a href="https://www.uk.coop/" target="_blank">
            {% icon "cuk-logo", 340, 212 %}
          </a>
            <a href="https://www.co-op.ac.uk/" target="_blank">
              <img src="/assets/images/coop-college-logo.png" />
          </a>
        </div>-->
    </div>
</footer>

<div class="logos-row-container">
<div class="logos-row container">

<div class="logo-wrapper">
<img src="/assets/icons/locality.jpg" />
</div>
<div class="logo-wrapper">
<img src="/assets/icons/coopsuk.png" />
</div>

<div class="logo-wrapper">
<img src="/assets/icons/cltn.png" />
</div>

<div class="logo-wrapper">
<img src="/assets/icons/cwf.jpg" />
</div>
<div class="logo-wrapper">
<img src="/assets/icons/mercers.jpg" />
</div>
<div class="logo-wrapper">
<img src="/assets/icons/scops.jpg" />
</div>
<div class="logo-wrapper">
<img src="/assets/icons/tudortrust.svg" />
</div>
<div class="logo-wrapper">
<img src="/assets/icons/4dayweek.jpg" />
</div>
</div>
</div>