@use 'sass:math';

.footer {
    background-color: $gray-darkest;
    color: #fff;
    font-size: ms(-1);

    a {
        color: $gray-lightest;
        text-decoration-color: $gray;
    }

    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 2 * $spacing 0 1.5 * $spacing;

        @include orientation(landscape) {
            height: auto;
            padding: 2 * $spacing 0;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__logo {
        margin-bottom: $spacing;

        @include orientation(landscape) {
            margin-bottom: 0;
            margin-right: 0;
        }

        .icon--logo {
            color: white;
            width: 4 * $spacing;
            height: auto;

            @include orientation(landscape) {
                width: 3 * $spacing;
            }
        }
    }

    &__about {
        @include orientation(landscape) {
            flex: 0 0 30%;
            margin-left: $spacing;
        }

        p {
            margin-bottom: $spacing;

            @include orientation(landscape) {
                margin-bottom: $spacing * 0.5;
            }

            &:first-child {
                &::before {
                    content: '';
                    display: block;
                    width: 2 * $spacing;
                    height: math.div($spacing, 6);
                    background-color: #fff;
                    margin-bottom: $spacing * 0.5;
                }
            }
            &:not(:first-child) {
                font-size: ms(-2);
            }
        }
    }

    &__links {
        margin-top: $spacing;
        column-count: 2;
        column-gap: $spacing;
        margin-right: 35vw;

        @include orientation(landscape) {
            flex: 0 0 15%;
            margin-right: 0;
            margin-left: 2 * $spacing;
            margin-top: $spacing * 0.5;
        }

        a {
            display: block;
            text-transform: lowercase;
            line-height: 2 * $heading-line-height;
            color: $gray;
            text-decoration: none;

            &:hover {
                color: #fff;
            }
        }
    }

    &__logos {
        margin-top: 2 * $spacing;

        @include orientation(landscape) {
            margin-top: math.div($spacing, 1.5);
            padding-left: $spacing;
            margin-left: auto;
            flex: 0 0 25%;
            justify-content: center;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: $spacing * 0.5;

        a {
            flex: 1 1 40%;
            max-width: 3.5 * $spacing;
        }

        svg {
            color: $gray-light;

            width: 100%;
            height: auto;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.logos-row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    @include mq(md) {
        gap: 1rem;
    }
}

.logos-row-container {
    border-top: $spacing / 4 solid $brand-yellow;
}

.logos-row .logo-wrapper {
    flex: 1;
}

.logos-row img {
    max-width: 100%;
    height: auto;
}
