@import '@/simple-lightbox/dist/simpleLightbox.min.css';

.tiled-gallery {
  margin: $spacing;
  overflow: hidden;
}

.gallery-row {
  display: flex;
  width: 100% !important;
}

.gallery-group {
  width: auto !important;
  height: auto !important;
  flex: 1;

  img {
    width: 100% !important;
    height: auto !important;
    box-sizing: content-box;
    border: $spacing/4 solid white;
  }
}