.post {

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    left: -1em;
    right: -1em;
    bottom: 10 * $spacing;
    padding-top: 65%;
    background-image: url('/assets/images/podcast-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotateY(180deg);
    transform-origin: center center;
  }

  margin-top: 2 * $spacing;
  margin-bottom: 2 * $spacing;
  padding-bottom: 9 * $spacing;

  &__breadcrumb {
    font-size: ms(-1);
    color: $gray;
    text-transform: lowercase;

    a {
      text-decoration: none;
      color: $gray;
    }
  }

  &__header {
    width: 60%;
  }

  &__title {
    margin-top: $spacing;
    margin-bottom: $spacing/2;
  }

  &__excerpt {
    font-size: ms(1);
  }

  &__featured-image {
    margin: 2 * $spacing 0;
  }

  &__body {
    display: flex;
    flex-direction: row-reverse;
  }

  &__content {
    @include overline($brand-green);

    &::before {
      margin-bottom: $spacing;
    }

    flex: 0 1 65%;
    padding-top: $spacing;
    padding-right: 2 * $spacing;
    margin-top: 2 * $spacing;
    margin-bottom: 2 * $spacing;

    p {
      margin-bottom: $spacing/2;
    }

    .wp-block-image {
      margin-top: $spacing/2;
      margin-bottom: $spacing;

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__byline {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: auto;

    &__name {
      font-weight: 700;
      line-height: $heading-line-height;
    }

    &__date {
      font-size: ms(-1);
      line-height: $heading-line-height;
    }

    &__image {
      border: 1px solid $gray-light;
      width: 2 * $spacing;
      height: 2 * $spacing;
      border-radius: 99999px;
      float: left;
      margin-right: $spacing/3;
    }
  }

  &__featured-image {
    max-width: 100%;
    height: auto;
  }
}