---
layout: about
permalink: /about/
eleventyNavigation:
  key: About
---
## Who we are

We’re a community group from the _East Marsh of Grimsby_, dedicated to transforming where we live for the better.

This is our neighbourhood – we’re deciding how it develops and grows. We’re seeking out practical solutions to the problems we face, doing everything we can to keep our residents happy, our houses safe and our streets clean.

## What we do

We’re a community group from the East Marsh of Grimsby, dedicated to transforming where we live for the better.

This is our neighbourhood – we’re deciding how it develops and grows. We’re seeking out practical solutions to the problems we face, doing everything we can to keep our residents happy, our houses safe and our streets clean.