---
eleventyNavigation:
  key: Greening the Marsh
  order: 0
layout: project
permalink: /projects/greening-the-marsh/
logo: /assets/images/projects/tree-logo.png
title: Greening the Marsh
subtitle: Working with Create Streets, we’ve already started to increase trees and greenery in the _East Marsh of Grimsby_ – but we need help to keep it going!
hero_button_text: Help fund this vital work
intro: |
    ## Why are we doing this?

    We all know that trees are good for the environment. They do important things like cleaning our air, keeping us cooler during hot weather and even reducing the risk of flooding.

    But trees have other benefits too – they’ve been shown to make people feel good, and evidence shows there tends to be less crime in areas of more greenery.

    In short, trees help us create a place where people want to be – that’s why we’re greening up the Marsh!

intro_image: /uploads/tree-planting-1.jpg
photos_title: We’re creating somewhere we can all be proud to call home
plan_title: Our three year plan
plans:
    - title: 'Year 1: Greening Grant Thorold Park'
      complete: true
      image: /uploads/tree-planting.jpg
      details: >
          Kicking off our green ambitions, the first big step and major milestone was to plant 30 new trees in Grant Thorold Park. On 9th February 2022, the East Marsh community came together to dig and plant the trees, with several hundred people attending, including pupils from numerous local schools, players from Grimsby Town FC, and even the fire brigade chipping in by hosing down the saplings. Nearly one year on the trees are thriving thanks to community and council watering efforts.

          [ Read about our tree planting day ](https://eastmarshunited.org/2023/02/13/our-tree-planting-day-in-grant-thorold-park-was-a-huge-success/)
    - title: 'Year 2: Greening the Schools'
      complete: false
      image: /assets/images/school.jpg
      details: |
          The next step in our greening up plan is to plant over 100 trees across 7 schools in the East Marsh. The East Marsh ward in Grimsby is listed as a priority area by the UTCF Forestry Commission as it has less than 2.8% tree canopy cover and is sorely lacking in other low level greenery. Bringing nature and greenery into schools is a vital step to supporting student development, tackling pollution and improving local school grounds.

          **Timeline**

          - **January 2024:** Purchasing equipment and whips
          - **February 2024:** Planting 102 trees across 7 schools
          - **March 2024-2027:** 3-year maintenance programme for new trees

    - title: 'Year 3: Greening Rutland Street'
      complete: false
      image: /uploads/rutland.jpg
      details: >
          Transforming Rutland Street with greenery is a key pillar of our vision for East Marsh. Rutland Street is one of the longest streets in the East Marsh ward, and links the historic docks to Grant Thorold Park. We want planting trees in Rutland Street to kickstart wider greening efforts across the East Marsh, building climate change resilience, improving our wellbeing and showing the way in restoring Grimsby’s historic terraces.
video_embed: https://player.vimeo.com/video/798542609?h=0e627c71f1
video_title: 'Watch: our progress so far'
signup:
    title: Support our plans
    details: 'With our first target of getting trees into Grant Thorold Park completed, we’re now raising funds to enable us to keep working towards our vision of a greener East Marsh. Every penny we raise will go into buying, planting and maintaining the trees.'
    options:
        - title: 'Planting trees in schools'
          details: 'This money will transform school grounds across the ward, bringing much needed greenery to schoolchildren in East Marsh. We have already received funding for the trees from the Urban Tree Challenge Fund, and now need £15,000 to pay for equipment, labour costs and whips.'
          link: https://www.spacehive.com/greeningtheschools
quote:
    quote: |
        Planting trees in Grant Thorold Park brought new life to the East Marsh - we’re Greening the Marsh and it just feels amazing...we’re getting our community to design Rutland Street so that when we walk down in a few years it will be a natural paradise.
    author: Billy Dasein, Chief Everything Officer, East Marsh United and Rutland Street resident
