---
layout: invest
permalink: /invest/
title: Invest in our community housing revolution
subtitle: Help us buy, refurbish and let community-led homes in the _East Marsh of Grimsby_
intro: >
  ## Why are we creating homes?

  Everyone deserves a comfortable, affordable home with a landlord they know and trust. That’s why we’re bringing empty houses back into use - to meet the growing demand for comfortable homes. By providing accommodation that allows people to flourish, we can make an enormous impact on the future of our entire community.

benefits:
- title: Our area
  details: Grimsby’s East Marsh is one of the most deprived wards in England, with high poverty rates, low levels of education and employment, and an average life expectancy ten years less than neighbouring areas..
- title: Our progress
  details: So far, we’ve taken three houses on the East Marsh under community ownership. Our properties on Rutland Street have been refurbished to the highest standard and kitted out with modern furnishings. We’re striving to be the best community landlords we can, delivering a caring, attentive service for our tenants and giving families a truly affordable home.
- title: Our target
  details: We’re aiming to raise £500,000 to get us another ten houses - the next step towards our long term vision of 100 houses for 100 years. With your investment, we can give dozens of families on the East Marsh an ethical community landlord who values them for their humanity rather than their rent money.
- title: Our belief
  details: The transformative effects on the local economy would be vast. As we grow our housing stock, we’ll keep providing the best example of how things can be done. And with these renovated properties added to Grimsby’s housing market, standards would be raised across the town and challenge other landlords to do better. As we like to say, a rising tide lifts all boats.
timeline:
- 2017 - East Marsh United founded
- 20XX - first house acquired on Rutland Street
- 20XX - refurbishment complete
- 20XX - first tenant moves in
- 20XX - second house acquired 
- 20XX - refurbishment complete
- 20XX - second tenant moves in
- 20XX - third house acquired
- 2022 - community share offer launched
- 2023 - xxxx 
- 2025 - xxxx
- 2030 - xxxx

signup:
  title: Help us
  details: 'There are two ways you can get involved:'
  options:
  - title: Become an _investor_
    details: 'If you want to support our plans and have at least £250, you can become an investor. We’re aiming for a 4% rate of return and you’ll get voting rights giving you a say on our future plans.'
    link: https://members.eastmarshunited.org/register/member
  - title: Become a _member_
    details: 'If you’re 16 or over you can become a member – just £1 buys you a share in the EMU organisation. By doing this you’ll gain voting rights and also help our organisation grow by showing you believe in a bright future for the East Marsh.'
    link: https://members.eastmarshunited.org/register/member
more:
  title: More information
  details: Other bits and pieces you might need to know
  questions:
  - question: Who can invest?
    answer: |
      ...
  - question: How much can I invest?
    answer: ...
  - question: What type of shares are they?
    answer: ...
  - question: How do I invest as an individual? 
    answer: |
      ...
  - question: Is my investment safe? 
    answer: |
      ...
  - question: How will my share withdrawals work?
    answer: |
      ... 
  - question: Do you have any other sources of funding?
    answer: |
      ... 