---
layout: invest
permalink: /invest/
title: Invest in our community housing revolution
subtitle: Help us buy, refurbish and let community-led homes in the _East Marsh of Grimsby_
intro: >
  ## Why are we creating homes?

  Everyone deserves a comfortable, affordable home with a landlord they know and trust. That’s why we’re bringing empty houses back into use - to meet the growing demand for comfortable homes. By providing accommodation that allows people to flourish, we can make an enormous impact on the future of our entire community.

benefits:
- title: Our area
  details: Grimsby’s East Marsh is one of the most deprived wards in England, with high poverty rates, low levels of education and employment, and an average life expectancy ten years less than neighbouring areas..
- title: Our progress
  details: So far, we’ve taken three houses on the East Marsh under community ownership. Our properties on Rutland Street have been refurbished to the highest standard and kitted out with modern furnishings. We’re striving to be the best community landlords we can, delivering a caring, attentive service for our tenants and giving families a truly affordable home.
- title: Our target
  details: We’re aiming to raise £500,000 to get us another ten houses - the next step towards our long term vision of 100 houses for 100 years. With your investment, we can give dozens of families on the East Marsh an ethical community landlord who values them for their humanity rather than their rent money.
- title: Our belief
  details: The transformative effects on the local economy would be vast. As we grow our housing stock, we’ll keep providing the best example of how things can be done. And with these renovated properties added to Grimsby’s housing market, standards would be raised across the town and challenge other landlords to do better. As we like to say, a rising tide lifts all boats.
timeline:
- 2017 - East Marsh United founded
- 20XX - first house acquired on Rutland Street
- 20XX - refurbishment complete
- 20XX - first tenant moves in
- 20XX - second house acquired 
- 20XX - refurbishment complete
- 20XX - second tenant moves in
- 20XX - third house acquired
- 2022 - community share offer launched
- 2023 - xxxx 
- 2025 - xxxx
- 2030 - xxxx

signup:
  title: Help us
  details: 'There are two ways you can get involved:'
  options:
  - title: Become an _investor_
    details: 'If you want to support our plans and have at least £250, you can become an investor. We’re aiming for a 4% rate of return and you’ll get voting rights giving you a say on our future plans.'
    link: https://members.eastmarshunited.org/register/member
  - title: Become a _member_
    details: 'If you’re 16 or over you can become a member – just £1 buys you a share in the EMU organisation. By doing this you’ll gain voting rights and also help our organisation grow by showing you believe in a bright future for the East Marsh.'
    link: https://members.eastmarshunited.org/register/member
more:
  title: More information
  details: Other bits and pieces you might need to know
  questions:
  - question: Who can invest?
    answer: |
      Individuals over the age of 18, charities and other organisations may invest in this offer.
  - question: What type of shares am I buying?
    answer: |
      These are ‘withdrawable’ shares that cannot be sold, traded, or transferred, unlike the ‘transferable’ shares typical of a limited company, and only East Marsh Community Limited can repay them at the same value at which they were invested.
  - question: What is a community benefit society?
    answer: A community benefit society is run primarily for the benefit of the community at large, rather than just for members of the society. This means that it must have an overarching community purpose that reaches beyond its membership. An applicant enterprise must also have a special reason for being a community benefit society rather than a company, such as wanting to have democratic decision-making built into its structure. Although a community benefit society has the power to pay interest on members’ share capital, it cannot distribute surpluses to members in the form of dividends.      
  - question: How much can I invest?
    answer: We are offering £1 shares with a minimum investment of £250 and maximum investment of 10% of the final issued share capital under this share offer (i.e., £50,000 if the target raise of £500k is achieved). Organisations can invest up to £100,000. The maximum investment includes any existing investment you may hold in East Marsh Community Limited.
  - question: What return can I expect on my investment?
    answer: |
      East Marsh Community currently offers a target financial return of 4.00% per annum on your investment from 1 November 2023, together with the scope to cash-in (withdraw) your shares after the qualifying period. The interest rate is paid yearly at the discretion of the Board dependent on the financial performance of the business.
      
      However, you should be aware that, unlike companies, there are legal limits to financial returns / interest payments on shares in co-operative and community benefit societies, based on the principle that interest should be no more than is sufficient to attract and retain the investment. Also, unlike company shares, community shares cannot go up in value, but they can go down, meaning that you could lose some or all of the money you invest.

      Unlike company shares co-operative and community benefit society shares cannot go up in value, but they can go down meaning that you could lose some or all of the money you invest.
  - question: Is my investment safe? 
    answer: |
      You can be sure that your funds will make a positive difference to local communities but there is no guarantee of receiving a financial return on your investment. Investors may receive back less than their original investment and may not get it back at all. Please do not invest funds that you cannot afford to lose. You can read more about the risks of investing in the ‘Key risks’ section of the share offer document.
  - question: What are my voting rights as a shareholder?
    answer: |
      Shareholders have only one vote, regardless of the size of their shareholding, so the society is democratic. 
  - question: Can I withdraw my shares?
    answer: |
      Whilst individual requests to withdraw will be at the discretion of the Board, EMC intends to honour share capital withdrawal requests where it can, subject to the initial minimum 24 month lock-in period and a cap on total withdrawals of 5% of the outstanding and issued share capital in any financial year. For further details on how withdrawal will work, please see the 'Important information' section of the community share offer document.