---
layout: join
permalink: /join/
eleventyNavigation:
  key: Join
title: Join us!
subtitle: Find out how you can get involved by becoming a member or supporter of _East Marsh United_
intro: >
  ## Why join?

  Joining _East Marsh United_ is a way to show you believe in and support our purpose and aims. It also allows you to have a say in how we do things as an organisation.

benefits:
- title: Be informed
  details: As a supporter or member you’ll be kept up to date with everything we’re working on, alongside stuff we’ve achieved and our goals and ambitions.
- title: Get involved
  details: All supporters and members can take part in what we’re doing to improve our area, including online services like time banking.
- title: Have your say
  details: Members can vote on our future plans and direction. You can also choose who leads East Marsh United, or even stand to lead yourself.
signup:
  title: Join now
  details: 'There are two ways you can get involved:'
  options:
  - title: Become a _member_
    details: If you’re 16 or over and support what we’re doing, you can become a member. You’ll need to pay £1, which buys you a share in the organisation.
    link: https://members.eastmarshunited.org/register?type=member
  - title: Become a _supporter_
    details: Under 16 or want to show support without becoming a member? Become a supporter. You’ll still receive updates from us and be able to get involved in our work, plus you can convert to full membership at a later date.
    link: https://members.eastmarshunited.org/register?type=supporter
more:
  title: More information
  details: Other bits and pieces you might need to know
  questions:
  - question: Who can become a member?
    answer: Anyone - as long as you’re at least 16 years old and you’re passionate about helping the East Marsh!
  - question: What if I’m under 16, or can’t pay the £1 membership fee?
    answer: Become a supporter. You’ll still receive our communications and be able to access the things we run. You won’t be able to vote on how we’re run, but you can upgrade your status from subscriber to member at a later stage (e.g. when you turn 16, or otherwise decide to do so).
  - question: Why are you asking members to pay?
    answer: The one-time membership fee of £1 is important as this buys you one share in our society and gives you the power to vote on how we’re run. When joining you can choose to voluntarily pay more than £1 – this allows you to make a donation if you’re in a position to do so. Only one share is issued per member regardless of the amount paid over £1; that way everyone’s voice is equal.
  - question: What are the rules of membership?
    answer: |
      East Marsh United is registered as a Community Benefit Society. This society is owned by and accountable to its members. In practical terms, this means -

      * Membership is open to all persons and organisations that agree with the aims and objectives of the society.
      * Individuals must be at least 16 years of age to become a member.
      * The committee may refuse any application for membership at its absolute discretion.
      * Members participate in decision-making at general meetings and elect the board of directors to oversee the work of staff, volunteers and/or contractors.
      * All members have an equal say based on the principle of one member one vote. Every member has one vote so everyone has equal power.
      * Members will be kept informed of the work of the society (as a minimum) at the AGM and via the annual report.
  - question: What is a community benefit society?
    answer: |
      We started East Marsh United to make change, make friends and make memories. But to take the next step and give true power to local people we also established ourselves as a Community Benefit Society (CBS). This means we can have -

      * Property owned BY the community, FOR the community
      * A member-led organisation where local people can vote on how the CBS is run
      * Investment in the East Marsh through community shares

      The legal status of the CBS protects any property we take ownership of. It ensures our property MUST be protected for community use by law. In other words, it means we can provide ethically managed, affordable housing and a flourishing community hub for proud East Marshians."
---
