---
layout: trees
permalink: /trees/
image: https://eastmarshunited.org/assets/images/tree.jpg
eleventyNavigation:
  key: Tree planting
  order: 0
title: We’re Greening the Marsh!
subtitle: Come along and help us plant 30 new trees in Grant Thorold Park
intro: >
  ## Why are we planting trees?

  We’ve teamed up with the amazing people at Create Streets to bring brand new trees to the East Marsh! Not only will this make the park a more vibrant and beautiful place to spend time, it’s also a great opportunity for the next generation of Proud East Marshians to learn about the importance of nature and the impact trees have on our urban environment.
  
plan: >
  ## What will happen on the day?

  Thursday 9th February is the date for your diary. We’ll be planting several tree types in the park, including elms, tulip trees, sweetgums, red maples and sweet chestnuts. The new trees are 7 or 8 years old and around 4 to 5 metres tall, making them ready to plant and thrive.


  On the day, everyone will be given a tree planting demo and shown exactly what to do. You’ll be involved with carefully placing trees in the ground, installing stakes and strimmer guards, and tidying up the soil. Refreshments, hot drinks and toilet facilities will be available in the nearby St John, St Stephen & Shalom church. 

get_involved: >
  ## Get involved!

  Pupils from local schools will be planting the first of the new trees in the morning, with the afternoon opening up to everyone else. We’re looking for volunteers to help out with kids in the morning, as well as getting stuck in with the community tree planting in the afternoon. Interested? Fill out the form and let us know!


  You can also pop in to see us at Freeman Street Market Courtyard in the Sun and Moon room next door to the Courtyard Cafe on Tuesdays between 1pm and 3pm if you want to have a chat and learn more.

sponsor: >
  ## _Sponsor_ a tree

  We’re giving businesses and families the chance to be associated with our newly planted trees. For £500, you can sponsor a tree and have your company or family name added to our online digital map. All proceeds will go towards our ongoing campaign to green the East Marsh – it’s a great way to show your support for the local community, as well as having your name linked to a specific tree for all time!

tree_tales: >
  ## Tree Tales
  
  Often living for many, many years, trees are there at specific milestones in our lives, and can be used to commemorate the lives of loved ones no longer with us. Here are some of the stories local residents have told us about trees that are important to them…


  [several quotes with people's memories about trees]

looking_ahead: >
  ## Looking ahead

  This is just the beginning. As we look ahead to next winter, we’re planning on bringing more trees to Rutland Street. Join us on the day to discuss all our exciting plans for looking after our new trees and introducing even more greenery to the East Marsh!

---