---
layout: base
header_color: white
---
<script defer src="https://commento.jdp.org.uk/js/count.js"></script>

<div class="container">
  <form class="search-form align-right" method="get" action="/search/">
    <input placeholder="Search news" class="search-form--input" x-bind:value="searchTerm" type="text" name="search">
    <input type="hidden" name="type" value="post">
    <input class="button search-form--button" type="submit" value="search">
  </form>
</div>

<div class="posts">

  {% if pagination.pageNumber == 0 %}
    {% set featured_post = paginated_posts | first %}

    <div class="posts__featured">
      <div class="container posts__featured__container">
        {% set featured_post_image = featured_post._embedded['wp:featuredmedia'][0] %}
        {% if featured_post_image %}
          {% wp_image featured_post_image, 'posts__featured__image', '(min-width: 1330px) 420px, (orientation: portrait: 95vw), 40vw', 1.5 %}
        {% endif %}
        <div class="posts__featured__text">
          <time class="posts__featured__date" datetime="{{ featured_post.date }}">{{ featured_post.date | dateToFormat('DDD') }}</time>
          <a href="/{{ featured_post.date | dateToFormat('yyyy/MM/dd') }}/{{ featured_post.slug }}"><h2 class="posts__featured__title">{{ featured_post.title.rendered | safe }}</h2></a>
          <p>{{ featured_post.excerpt.rendered | excerpt(120) | striptags() | safe }}</p>
          <a class="posts__featured__comment-count comment-count" href="{{ meta.url }}/{{ featured_post.date | dateToFormat('yyyy/MM/dd') }}/{{ featured_post.slug }}/#commento"></a>
          <a href="/{{ featured_post.date | dateToFormat('yyyy/MM/dd') }}/{{ featured_post.slug }}" class="button posts__featured__button read-more">Read more</a>
        </div>
      </div>
    </div>

    {% set paginated_posts = paginated_posts.slice(1) %}
  {% endif %}

  <div class="container posts__container">
    {%- for post in paginated_posts -%}
      <div class="posts__item">
        <time class="posts__item__date" datetime="{{ post.date }}">{{ post.date | dateToFormat('DDD') }}</time>
        <a href="/{{ post.date | dateToFormat('yyyy/MM/dd') }}/{{ post.slug }}"><h2 class="posts__item__title">{{ post.title.rendered | safe }}</h2></a>
        <div class="posts__item__excerpt">{{ post.excerpt.rendered | excerpt(120)  | striptags() | safe }}</div>
        <a class="comment-count posts__item__comment-count" href="{{ meta.url }}/{{ post.date | dateToFormat('yyyy/MM/dd') }}/{{ post.slug }}/#commento"></a>
        <a href="/{{ post.date | dateToFormat('yyyy/MM/dd') }}/{{ post.slug }}" class="button">Read more</a>
      </div>

    {%- endfor -%}

    <nav aria-labelledby="posts-pagination" class="posts__pagination">
      <h2 class="sr-only" id="posts-pagination">Posts pages navigation</h2>
      <ol class="container posts__pagination__container">
      {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><span class="sr-only">Page </span>{{ loop.index }}</a></li>
      {%- endfor %}
      </ol>
    </nav>
  </div>
</div>