---
layout: base

---

<div class="container post">

  <div class="post__header">
    <div class="post__breadcrumb">
    <a href="/">Home</a> >
    </div>

    <h1 class="post__title post__title--large">{{ title }}</h1>




  </div>

  <div class="post__body">

    <article class="post__content">
        {{ content | safe }}

    </article>
  </div>

<div>