---
layout: base
header_color: white
---
<div class="posts">

  {% if pagination.pageNumber == 0 %}
    {% set featured_post = paginated_posts | first %}
      <a href="/blog/{{ featured_post.slug }}" class="posts__featured">
        <div class="container posts__featured__container">
          {% set featured_post_image = featured_post._embedded['wp:featuredmedia'][0] %}
          {% if featured_post_image %}
            {% wp_image featured_post_image, 'posts__featured__image' %}
          {% endif %}
          <div class="posts__featured__text">
            <time class="posts__featured__date" datetime="{{ featured_post.date }}">{{ featured_post.date | dateToFormat('DDD') }}</time>
            <h2 class="posts__featured__title">{{ featured_post.title.rendered | safe }}</h2>
            <p>{{ featured_post.content.rendered | excerpt(150) | safe }}</p>
            <span class="button posts__featured__button read-more">Read more</span>
          </div>
        </div>
      </a>
    </div>

    {% set paginated_posts = paginated_posts.slice(1) %}
  {% endif %}

  <div class="container posts__container">
    {%- for post in paginated_posts -%}
      <a class="posts__item" href="/blog/{{ post.slug }}">
        <time class="posts__item__date" datetime="{{ post.date }}">{{ post.date | dateToFormat('DDD') }}</time>
        <h2 class="posts__item__title">{{ post.title.rendered | safe }}</h2>
        <div class="posts__item__excerpt">{{ post.excerpt.rendered | excerpt(120)  | striptags() | safe }}</div>
        <span class="button">Read more</span>
      </a>
    {%- endfor -%}

    <nav aria-labelledby="posts-pagination" class="posts__pagination">
      <h2 class="sr-only" id="posts-pagination">Posts pages navigation</h2>
      <ol class="container posts__pagination__container">
      {%- for pageEntry in pagination.pages %}
        <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}><span class="sr-only">Page </span>{{ loop.index }}</a></li>
      {%- endfor %}
      </ol>
    </nav>
  </div>
</div>