---
layout: base
header_color: white
---
<script defer src="https://commento.jdp.org.uk/js/count.js"></script>

{% set title = blogpost.title.rendered %}
{% set commentStatus = blogpost.comment_status %}
{% set id = blogpost.id %}
{% set author = blogpost._embedded.author[0] %}
{% set featured_image = blogpost._embedded['wp:featuredmedia'][0] %}
<div class="container post">

  <div class="post__header">
    <div class="post__breadcrumb">
    <a href="/">Home</a> > <a href="/news/">News</a>
    </div>

    <h1 class="post__title">{{ title | safe }}</h1>

    {% if blogpost.excerpt.rendered %}
      {% if not 'Continue reading' in blogpost.excerpt.rendered %}
        <div class="post__excerpt">
          {{ blogpost.excerpt.rendered | safe }}
        </div>
      {% endif %}
    {% endif %}

    <a class="comment-count post__comment-count" href="#commento"></a>

    {% if featured_image %}
      <div class="post__featured-image">
        {% wp_image featured_image, '', '(min-width: 1330px) 780px, (orientation: portrait: 95vw), 65vw', 1.5 %}
      </div>
    {% endif %}

  </div>

  <div class="post__body">

    <aside class="post__byline">
      {% wp_avatar author, "post__byline__image" %}
      <div>
        <p class="post__byline__name"><span class="sr-only">Written by</span> {{ author.name }}</p>
        <time class="post__byline__date" datetime="{{ blogpost.date }}">{{ blogpost.date | dateToFormat('DDD') }}</time>
      </div>
    </aside>

    <article class="post__content">
      {{ blogpost.content.rendered | safe }}
      <script defer src="https://commento.jdp.org.uk/js/commento.js"></script>
      <div id="commento"></div>
    </article>
  </div>

  {# {% include "comments.njk" %} #}


  {# related...
    {%- for post in blogpost['jetpack-related-posts'].slice(0,3) -%}
      <a class="posts__item" href="/{{ post.date | dateToFormat('yyyy/MM/dd') }}/{{ post.slug }}">
        <time class="posts__item__date" datetime="{{ post.date }}">{{ post.date }}</time>
        <h2 class="posts__item__title">{{ post.title | safe }}</h2>
        <div class="posts__item__excerpt">{{ post.excerpt }}</div>
        <span class="button">Read more</span>
      </a>
    {%- endfor -%}
  ... #}

<div>